{{!
    @template proctoringpolicy_fullscreen/start
}}

<div class="alert alert-warning kopere-proctoring-policy-fullscreen mb-3">
    <div id="proctoringpolicy_fullscreen-message" class="mt-2" style="display:none;">
        {{{message}}}
    </div>

    <div id="status-danger" class="text-danger mt-2" style="display:none;"></div>
</div>
