{{!
    @template proctoringpolicy_fullscreen/start
}}

<div class="alert alert-warning kopere-password-policy kopere-proctoring-policy-fullscreen mb-3">
    <div class="kopere-proctoring-header">
        <h3 class="kopere-proctoring-title">
            {{#str}}legend, proctoringpolicy_fullscreen{{/str}}
        </h3>
    </div>

    <div id="proctoringpolicy_fullscreen-start-message" class="mt-2">
        {{{start_message}}}
    </div>

    <div id="proctoringpolicy_fullscreen-message" style="display:none;">
        {{{message}}}
    </div>

    <div id="status-danger" class="text-danger mt-2" style="display:none;"></div>
</div>
