{{!
    @template proctoringpolicy_focus/start
}}

<div class="alert alert-warning kopere-proctoring-policy-focus mb-3">
    <div class="mt-3" id="proctoringpolicy_focus-message">
        {{{message}}}
    </div>
</div>
