{{!
    @template proctoringpolicy_copy/start
}}

<div class="alert alert-warning kopere-proctoring-policy-copy mb-3">
    <div class="mt-2" id="proctoringpolicy_copy-message">
        {{{message}}}
    </div>
</div>
