{{!
    This file is part of Moodle - https://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}

{{!
    @template proctoringpolicy_contract/contract

    Example context (json):
    {
    }
}}

    <div id="kopere-proctoring-overlay" class="kopere-password-policy kopere-proctoring-dialog">
        <div class="kopere-proctoring-header">
            <h3 class="kopere-proctoring-title">
                {{#str}}contract_title, proctoringpolicy_contract{{/str}}
            </h3>
        </div>

        <div class="kopere-proctoring-body">
            {{{contract_html}}}
        </div>

        <div class="kopere-proctoring-footer">
            <label class="kopere-proctoring-accept">
                <input type="checkbox" data-role="contract-accept">
                <span>
                    {{#str}}accept_label, proctoringpolicy_contract{{/str}}
                </span>
            </label>

            <div class="kopere-proctoring-error" data-role="contract-error" style="display: none;">
                {{#str}}error_not_accepted, proctoringpolicy_contract{{/str}}
            </div>

            <div class="kopere-proctoring-proof mt-2"
                 data-role="proof"
                 {{^accepted}}style="display: none;"{{/accepted}}>
                <a href="{{{proofurl}}}"
                   target="_blank"
                   rel="noopener"
                   data-role="proof-link">
                    {{#str}}proof_link, proctoringpolicy_contract{{/str}}
                </a>
            </div>
        </div>
    </div>
