{{!
    @template proctoringpolicy_contract/verification
}}
<div class="container py-4">
    {{#valid}}
        <div class="alert alert-success" role="status">
            <h3>{{#str}}verification_valid_title, proctoringpolicy_contract{{/str}}</h3>
            <p>{{#str}}verification_valid_desc, proctoringpolicy_contract{{/str}}</p>
        </div>
        <dl class="row">
            <dt class="col-sm-3">{{#str}}verification_document_code, proctoringpolicy_contract{{/str}}</dt>
            <dd class="col-sm-9">{{documentcode}}</dd>
            <dt class="col-sm-3">{{#str}}verification_acceptance_date, proctoringpolicy_contract{{/str}}</dt>
            <dd class="col-sm-9">{{acceptancedate}}</dd>
            <dt class="col-sm-3">{{#str}}verification_unique_hash, proctoringpolicy_contract{{/str}}</dt>
            <dd class="col-sm-9"><code>{{uniquehash}}</code></dd>
        </dl>
    {{/valid}}
    {{^valid}}
        <div class="alert alert-danger" role="alert">
            <h3>{{#str}}verification_invalid_title, proctoringpolicy_contract{{/str}}</h3>
            <p>{{invaliddesc}}</p>
        </div>
    {{/valid}}
</div>
