{{!
    This file is part of Moodle - https://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}

{{!
    @template proctoringpolicy_contract/verification

    Example context (json):
    {
        "valid": true,
        "invaliddesc": "",
        "documentcode": "DOC-SITE-00000001",
        "fullname": "Example User",
        "username": "example",
        "maskedidnumber": "***.***.***-00",
        "email": "example@example.com",
        "acceptancedate": "14 August 2026, 19:00",
        "ipaddress": "192.0.2.1",
        "exam": "Example quiz",
        "uniquehash": "abc123"
    }
}}

<div class="container py-4">
    {{#valid}}
        <div class="alert alert-success" role="status">
            <h3>{{#str}}verification_valid_title, proctoringpolicy_contract{{/str}}</h3>
            <p>{{#str}}verification_valid_desc, proctoringpolicy_contract{{/str}}</p>
        </div>
        <dl class="row">
            <dt class="col-sm-3">{{#str}}verification_document_code, proctoringpolicy_contract{{/str}}</dt>
            <dd class="col-sm-9">{{documentcode}}</dd>
            <dt class="col-sm-3">{{#str}}verification_acceptance_date, proctoringpolicy_contract{{/str}}</dt>
            <dd class="col-sm-9">{{acceptancedate}}</dd>
            <dt class="col-sm-3">{{#str}}verification_unique_hash, proctoringpolicy_contract{{/str}}</dt>
            <dd class="col-sm-9"><code>{{uniquehash}}</code></dd>
        </dl>
    {{/valid}}
    {{^valid}}
        <div class="alert alert-danger" role="alert">
            <h3>{{#str}}verification_invalid_title, proctoringpolicy_contract{{/str}}</h3>
            <p>{{invaliddesc}}</p>
        </div>
    {{/valid}}
</div>
