{{!
    This file is part of Moodle - https://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template proctoringpolicy_password/password_admin_table

    Example context (json):
    {
        "requestscount": 1,
        "requests": []
    }
}}

{{#requestscount}}
    <table class="generaltable">
        <thead>
        <tr>
            <th>{{#str}}column_course, proctoringpolicy_password{{/str}}</th>
            <th>{{#str}}column_user, proctoringpolicy_password{{/str}}</th>
            <th>{{#str}}column_cmid, proctoringpolicy_password{{/str}}</th>
            <th>{{#str}}column_browser, proctoringpolicy_password{{/str}}</th>
            <th>{{#str}}column_created, proctoringpolicy_password{{/str}}</th>
            <th>{{#str}}column_actions, proctoringpolicy_password{{/str}}</th>
        </tr>
        </thead>
        <tbody>
        {{#requests}}
            <tr>
                <td><a href="{{{courseurl}}}" target="_blank">{{{coursefullname}}}</a></td>
                <td><a href="{{{userurl}}}" target="_blank">{{{userfullname}}}</a></td>
                <td>
                    <div>
                        {{#hascmurl}}<a href="{{{cmurl}}}" target="_blank">{{{cmname}}}</a>{{/hascmurl}}
                        {{^hascmurl}}{{{cmname}}}{{/hascmurl}}
                    </div>
                    <div style="white-space:nowrap;">
                        <strong>{{#str}}column_attempt, proctoringpolicy_password{{/str}}</strong>:
                        {{#hasattempturl}}<a href="{{{attempturl}}}">{{{attemptid}}}</a>{{/hasattempturl}}
                        {{^hasattempturl}}{{{attemptid}}}{{/hasattempturl}}
                    </div>
                </td>
                <td>
                    <div>{{{browserinfo}}}</div>
                    <div>
                        <strong>{{#str}}column_ip, proctoringpolicy_password{{/str}}</strong>:
                        <a href="{{{ipurl}}}" target="_blank" rel="noopener noreferrer">{{{ip}}}</a>
                    </div>
                </td>
                <td>{{{timecreated}}}</td>
                <td style="white-space:nowrap;">
                    <div class="mb-3">
                        <strong>{{#str}}column_password, proctoringpolicy_password{{/str}}</strong>:
                        <code style="letter-spacing:5px;font-size:25px;">{{{password}}}</code>
                    </div>
                    <a href="{{{approveurl}}}" class="btn btn-primary">
                        {{#str}}action_approve, proctoringpolicy_password{{/str}}
                    </a>
                    <a href="{{{denyurl}}}" class="btn btn-danger ml-1">
                        {{#str}}action_deny, proctoringpolicy_password{{/str}}
                    </a>
                </td>
            </tr>
        {{/requests}}
        </tbody>
    </table>
{{/requestscount}}

{{^requestscount}}
    <p>{{#str}}admin_norequests, proctoringpolicy_password{{/str}}</p>
{{/requestscount}}
