{{!
    This file is part of Moodle - https://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template proctoringpolicy_password/password_student

    Example context (json):
    {
        // Aqui tem que criar o context em inglês
    }
}}

<div class="kopere-password-policy" data-kppass="container">
    <h4>{{#str}}student_title, proctoringpolicy_password{{/str}}</h4>

    <div data-kppass="status"></div>

    <div class="mb-2">
        <button type="button"
                class="btn btn-secondary"
                data-kppass="request">
            {{#str}}student_request_button, proctoringpolicy_password{{/str}}
        </button>
    </div>

    <div class="mt-3">
        <p>{{#str}}student_enter_password, proctoringpolicy_password{{/str}}</p>

        <label>
            {{#str}}student_password_label, proctoringpolicy_password{{/str}}
            <input type="text"
                   class="form-control"
                   maxlength="8"
                   data-kppass="password"/>
        </label>

        <button type="button"
                class="btn btn-primary mt-2"
                data-kppass="submit">
            {{#str}}student_submit_password, proctoringpolicy_password{{/str}}
        </button>
    </div>
</div>
