{{!
    This file is part of Moodle - https://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template proctoringpolicy_password/password_student

    Example context (json):
    {
    }
}}

<div class="kopere-password-policy" data-kppass="container">
    <div class="kopere-proctoring-header">
        <h3 class="kopere-proctoring-title">
            {{#str}}student_title, proctoringpolicy_password{{/str}}
        </h3>
    </div>

    <div class="kopere-proctoring-body">
        <div data-kppass="status"></div>
        <p id="password-student_enter_password">{{#str}}student_enter_password, proctoringpolicy_password{{/str}}</p>
    </div>

    <div id="password-student_footer" class="kopere-proctoring-footer">
        <div class="d-flex align-items-center gap-2" style="margin: 0 auto;width: fit-content;">
            <label id="auth-password-field">
                <span class="box-password-"></span>
                <span class="box-password-"></span>
                <span class="box-password-"></span>
                <span class="box-password-"></span>
                <span class="box-password-"></span>
                <span class="box-password-"></span>

                <input type="text"
                       class="form-control"
                       maxlength="6"
                       data-kppass="password"
                       placeholder="{{#str}}column_password, proctoringpolicy_password{{/str}}">
            </label>
            <button type="button"
                    class="btn btn-primary text-nowrap"
                    style="margin-left:-71px;z-index:99"
                    data-kppass="submit">
                {{#str}}student_submit_password, proctoringpolicy_password{{/str}}
            </button>
        </div>
    </div>
</div>
